* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
  margin-top: 23px;
}
table {
  margin: auto;
}
input {
  font-size: 30px;
  margin-bottom: 10px;
  border: 3px solid rgb(77, 163, 170);
  height: 105px;
  border-radius: 21px;
  width: 100%;
  background-color: black;
  color: antiquewhite;
}

button {
  font-size: 23px;
  background-color: rgb(51, 102, 102);
  width: 87px;
  height: 58px;
  border-radius: 25px;
  margin:2px;
}
button:hover{
    cursor: pointer;
}
.wrapper{
    display:inline-block;
    border: 2px solid rgb(59, 209, 207);
    border-radius: 9px;
    background-color:#c4d4d1;
    padding: 20px;
}